# Environnement virtuel Python
.venv/
venv/
ENV/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de distribution
dist/
build/
*.egg-info/

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers de logs
*.log

# Fichiers de base de données
*.db
*.sqlite3

# Fichiers de test
.coverage
htmlcov/
.pytest_cache/ 